.profile_wrapper{
display: flex;
gap: 14px;
}

.user_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.user_name{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}
.position{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #7E8299;
}
.status{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 14px;
    display: flex;
    align-items: center;    
    
    color: #50CD89;
}
