.wrapper{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 17.6% 79.4%;
    grid-template-rows:  180px 590px 493px;
    background-color: #F8F8F8;
    gap: 2rem;
}

.navbar{
display: flex;
background: #FFFFFF;
box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.05);
}
.sideBar{
    /* height: 100%; */
background-color: #1E1E2D;
grid-row: span 4 !important;
}

.widgets{
margin-top: 6rem;
display: flex;
flex-wrap: wrap;
gap:2rem;
justify-content: center;


}
.contents{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: .8fr 2fr;
    gap: 2rem;
  
}

.contents >div{
     background-color: white; 
    border-radius: 12px;
    padding:0 2rem;
}

.saleProgress h2,.newArrivals h2 , .table h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #212121;
}
.ProgressContent{
    width: 100%;
}
.newArrivals h5 ,.table h5{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
color: #B5B5C3;

}
.table{
    background: #FFFFFF;
    overflow-y: scroll !important;
    scroll-behavior: smooth;
    padding:0 2rem;
  
}

::-webkit-scrollbar{
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
}
.filter{
    align-self: center;

}
.filter button{

border: none;
background-color: transparent;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

cursor: pointer;
color: #B5B5C3;

}

.report{
    width: 108px;
    height: 34px;
    right: 120px;
    top: 34px;
    color: white;
    background: #3699FF;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: .6rem;
    margin-top: 2rem;
}

.create{
    width: 80px;
    height: 34px;
    right: 30px;
    top: 34px;
    color: white;
    background: #F64E60;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.saleHeader 
{
    display: flex;
    justify-content: space-between;
}