html{
  box-sizing: border-box;
  overflow: scroll;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
}
.navbar{
position: absolute;
left: 21.1rem;
  width: 84%;
  height: 4.5rem;
}
